! NTP Configuration
!
hostname {{ hostname }}
!
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{% endfor %}
!
{% if device_type == 'router' %}
ntp source Loopback0
!
{% endif %}
!
end